.footer{
	position: fixed; /* またはabsoluteにすると、スクロールしてもページ下部に固定されます */
	bottom: 0px;
	width: 100%;
	/* text-align: center; テキストを中央に配置 */
	font-size: 8pt; /* フォントサイズを8ptに設定 */
	color:#cccccc;
}
body{
	/* cursor: pointer; */
	background-color: #3F3631;
}
.video-element{
	cursor: pointer;
}
#audioPlayer {
	display: none;
}
#canvas {
    width: 100vw; /* ビューポートの幅に合わせる */
    height: 100vh; /* ビューポートの高さに合わせる */
    margin: 0; /* 余白をなくす */
    box-sizing: border-box; /* パディングとボーダーを含めてサイズを計算 */
}

#svgObject {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.clickablePath {
	fill: transparent;
	pointer-events: none;
}

.video-element{
	position: absolute;
	z-index: 20;
}
/* #svgObject {
	position: absolute;
	top: 0;
	left: 0;
}

.clickablePath {
	fill: transparent;
	pointer-events: visible;
} */